# Port number
PORT=4000

# URL of the POSTGREs DB
DB_URL= postgres://dbuser:password@localhost:5432/agriko

# JWT
# JWT secret key generated with encryption key 256
SECRET=thisisasamplesecret
JWT_EXPIRATION_TIME = 1d

AccountSID= **************************
AuthToken= 51bd451*****7cb417478ba333a1
TWILIO_ServiceId= ************************


#email

EMAIL_HOST = smtp.gmail.com
EMAIL_PORT = 465
SENDER_EMAIL= email@agriko.africa
SENDER_EMAIL_PWD= password

